.card{
    cursor: pointer;
    background-color: var(--color-green);
    width: 24.01vw;
    height: 16.094vw;

    display: grid;
    place-items: center;


    transform: translateY(300%);
}

.card:hover{
    background-color: var(--color-dark-green);
}

.title{

    color: #fff;
}

@media screen and (width <=750px) {
    .card{
        
        width: 92.821vw;
        height: 57.179vw;

    }

    .card .title{
        font-size: 4.103vw  ;
    }

}