.modal{
    position: fixed;
    top: 4.583vw;
    right: 1.719vw;

    width: 21.302vw;
    height: 5.208vw;
    background-color: var(--color-dark-green);

    z-index: 998;

    padding-inline: 1.719vw;

    display: grid;
    place-items: center;

    transform: translateX(120%);
}

.title svg{
    width: 2.396vw;
}

.title{
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.906vw;

    color: #fff;
}   

@media screen and (width <= 750px) {
    .title{
        font-size: 3.077vw;
        gap: 10.906vw;
    }
    .modal{
        width: 52.436vw;
        height: 12.821vw;
    }

    .title svg{
        width: 5.897vw;
    }
}
