:root{
    --color-green: #1B9327;
    --color-dark-green: #0B4320;
    --color-light-green: #89C744;
}

.green{
    color: var(--color-green);
}

h1{
    font-size: 6.667vw;
    font-weight: 900;
    text-transform: uppercase;
}
h2{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.667vw;
}
h3{
    font-size: 1.25vw;
    text-transform: uppercase;
    font-weight: 900;
}